<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.palwy.common.mapper.AppUpdateManageMapper">
    <resultMap id="BaseResultMap" type="com.palwy.common.entity.AppUpdateManage">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_name" property="appName" jdbcType="VARCHAR"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="version_code" property="versionCode" jdbcType="VARCHAR"/>
        <result column="version_name" property="versionName" jdbcType="VARCHAR"/>
        <result column="platform" property="platform" jdbcType="VARCHAR"/>
        <result column="force_update_type" property="forceUpdateType" jdbcType="VARCHAR"/>
        <result column="low_version_code" property="lowVersionCode" jdbcType="VARCHAR"/>
        <result column="update_desc" property="updateDesc" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, app_name,app_id, version_code, version_name, platform,
    force_update_type, low_version_code, update_desc,
    creator, gmt_created, modifier, gmt_modified, is_deleted
    </sql>
    <!-- 插入应用更新管理记录 -->
    <insert id="insertAppUpdateManage" parameterType="com.palwy.common.entity.AppUpdateManage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app_update_manage (
            app_name,app_id, version_code, version_name, platform,
            force_update_type, low_version_code, update_desc,
            creator, gmt_created, modifier, gmt_modified, is_deleted
        ) VALUES (
                     #{appName}, #{appId},#{versionCode}, #{versionName}, #{platform},
                     #{forceUpdateType}, #{lowVersionCode}, #{updateDesc},
                     #{creator}, NOW(), #{modifier}, NOW(), 'N'
                 )
    </insert>

    <update id="updateAppUpdateManage" parameterType="com.palwy.common.entity.AppUpdateManage">
        UPDATE app_update_manage
        <set>
            <if test="appName != null and appName != ''">
                app_name = #{appName},
            </if>
            <if test="appId != null and appId != ''">
                app_id = #{appId},
            </if>
            <if test="versionCode != null and versionCode != ''">
                version_code = #{versionCode},
            </if>
            <if test="versionName != null and versionName != ''">
                version_name = #{versionName},
            </if>
            <if test="platform != null and platform != ''">
                platform = #{platform},
            </if>
            <if test="forceUpdateType != null and forceUpdateType != ''">
                force_update_type = #{forceUpdateType},
            </if>
            <if test="lowVersionCode != null and lowVersionCode != ''">
                low_version_code = #{lowVersionCode},
            </if>
            <if test="updateDesc != null and updateDesc != ''">
                update_desc = #{updateDesc},
            </if>
            modifier = #{modifier},
            gmt_modified = NOW()
        </set>
        WHERE id = #{id}
        AND is_deleted = 'N'
    </update>

    <update id="deleteAppUpdateManageById">
        UPDATE app_update_manage
        SET is_deleted = 'Y',
            gmt_modified = NOW()
        WHERE id = #{id}
    </update>

    <!-- 根据appId软删除记录 -->
    <update id="updateIsDeletedByAppId">
        UPDATE app_update_manage
        SET is_deleted = 'Y'
        WHERE app_id = #{appId}
    </update>

    <update id="updateByAppId" parameterType="com.palwy.common.entity.AppUpdateManage">
        UPDATE app_update_manage
        <set>
            <if test="updateManage.appName != null">app_name = #{updateManage.appName},</if>
            <if test="updateManage.versionCode != null">version_code = #{updateManage.versionCode},</if>
            <if test="updateManage.versionName != null">version_name = #{updateManage.versionName},</if>
            <if test="updateManage.platform != null">platform = #{updateManage.platform},</if>
            <if test="updateManage.forceUpdateType != null">force_update_type = #{updateManage.forceUpdateType},</if>
        </set>
        WHERE app_id = #{updateManage.appId}
    </update>

    <update id="updateById" parameterType="com.palwy.common.entity.AppUpdateManage">
        UPDATE app_update_manage
        <set>
            <if test="updateManage.appName != null">app_name = #{updateManage.appName},</if>
            <if test="updateManage.versionCode != null">version_code = #{updateManage.versionCode},</if>
            <if test="updateManage.versionName != null">version_name = #{updateManage.versionName},</if>
            <if test="updateManage.platform != null">platform = #{updateManage.platform},</if>
            <if test="updateManage.forceUpdateType != null">force_update_type = #{updateManage.forceUpdateType},</if>
        </set>
        WHERE id = #{updateManage.id}
    </update>

    <!-- 根据ID查询 -->
    <select id="selectAppUpdateManageById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM app_update_manage
        WHERE id = #{id} AND is_deleted = 'N'
    </select>

    <!-- 根据版本号和平台查询 -->
    <select id="selectByVersionAndPlatform" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM app_update_manage
        WHERE version_code = #{versionCode}
        AND platform = #{platform}
        AND is_deleted = 'N'
        ORDER BY gmt_modified DESC
        LIMIT 1
    </select>

    <!-- 条件分页查询 -->
    <select id="selectAppUpdateManageList" parameterType="com.palwy.common.req.AppUpdateReq" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM app_update_manage
        WHERE is_deleted = 'N'
        <if test="appName != null and appName != ''">
            AND app_name LIKE CONCAT('%', #{appName}, '%')
        </if>
        <if test="appId != null">
            AND app_id = #{appId}
        </if>
        <if test="platform != null and platform != ''">
            AND platform = #{platform}
        </if>
        <if test="osType != null and osType != ''">
            AND os_type = #{osType}
        </if>
        <if test="forceUpdateType != null and forceUpdateType != ''">
            AND force_update_type = #{forceUpdateType}
        </if>
        <if test="versionCode != null and versionCode != ''">
            AND version_code = #{versionCode}
        </if>
        ORDER BY gmt_modified DESC
    </select>


    <select id="isMax" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM app_update_manage
        WHERE app_name = #{appName}
        AND platform = #{platform}
        AND is_deleted = 'N'
        AND CAST(version_code AS UNSIGNED) = (
        SELECT MAX(CAST(version_code AS UNSIGNED))
        FROM app_update_manage
        WHERE app_name = #{appName}
        AND platform = #{platform}
        AND is_deleted = 'N'
        );
    </select>


    <!-- 根据ID查询 -->
    <select id="isAdd" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM app_update_manage
        WHERE app_name = #{appName}
        AND platform = #{platform} and version_code = #{versionCode} AND is_deleted = 'N'
    </select>
</mapper>