<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.palwy.common.mapper.AppVersionDOMapper">
    <resultMap id="BaseResultMap" type="com.palwy.common.entity.AppVersionDO">
        <result property="id" column="id"/>
        <result property="appId" column="app_id"/>
        <result property="versionCode" column="version_code"/>
        <result property="versionName" column="version_name"/>
        <result property="downloadUrl" column="download_url"/>
        <result property="filePath" column="file_path"/>
        <result property="channel" column="channel"/>
        <result property="deviceFilter" column="device_filter"/>
        <result property="showCashLoan" column="show_cash_loan"/>
        <result property="forceUpdateType" column="force_update_type"/>
        <result property="updateDesc" column="update_desc"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="creator" column="creator"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="modifier" column="modifier"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, app_id, version_code, version_name, download_url, file_path, channel, device_filter,
        show_cash_loan, force_update_type, update_desc, is_deleted, creator, gmt_created, modifier, gmt_modified
    </sql>
    
    <insert id="saveAppVersion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO app_version (app_id, version_code, version_name, download_url, file_path, channel, device_filter,
                                 show_cash_loan, force_update_type, update_desc, is_deleted, gmt_created, gmt_modified)
        VALUES (#{appId}, #{versionCode}, #{versionName}, #{downloadUrl}, #{filePath}, #{channel}, #{deviceFilter},
                #{showCashLoan}, #{forceUpdateType}, #{updateDesc}, 'N',  NOW(), NOW())
    </insert>
    
    <update id="updateAppVersion">
        UPDATE app_version
        SET app_id = #{appId},
            version_code = #{versionCode},
            version_name = #{versionName},
            download_url = #{downloadUrl},
            file_path = #{filePath},
            channel = #{channel},
            device_filter = #{deviceFilter},
            show_cash_loan = #{showCashLoan},
            force_update_type = #{forceUpdateType},
            update_desc = #{updateDesc},
            gmt_modified = NOW()
        WHERE id = #{id} AND is_deleted = 'N'
    </update>
    
    <delete id="deleteAppVersion">
        UPDATE app_version
        SET is_deleted = 'Y',
            gmt_modified = NOW()
        WHERE id = #{id}
    </delete>
    
    <select id="getAppVersionById" parameterType="long" resultType="com.palwy.common.resp.AppVersionResp">
        SELECT
            v.id,i.app_name as appName,v.channel,v.version_code as versionCode,v.version_name AS versionName,v.download_url AS downloadUrl,v.show_cash_loan AS showCashLoan,v.gmt_created AS gmtCreated
        FROM app_version v
                 INNER JOIN app_info i ON v.app_id = i.id
        WHERE v.id = #{id} AND v.is_deleted = 'N'
          AND i.is_deleted = 'N'
    </select>
    
    <select id="getAllAppVersions" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM app_version WHERE is_deleted = 'N'
    </select>
    
    <!-- 新增SQL：获取指定应用的所有版本 -->
    <select id="getAllAppVersionsByAppId" parameterType="int" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM app_version WHERE app_id = #{appId} AND is_deleted = 'N'
    </select>

    <select id="listByCondition" resultType="com.palwy.common.resp.AppVersionResp">
        SELECT
        v.id,i.app_name as appName,v.channel,v.version_code as versionCode,v.version_name AS versionName,v.download_url AS downloadUrl,v.show_cash_loan AS showCashLoan,v.gmt_created AS gmtCreated
        FROM app_version v
        INNER JOIN app_info i ON v.app_id = i.id
        <where>
            v.is_deleted = 'N'
            AND i.is_deleted = 'N'
            <if test="appName != null and appName != ''">
                AND i.app_name = #{appName}
            </if>
            <!-- 新增操作系统类型筛选 -->
            <if test="osType != null and osType != ''">
                AND i.os_type = #{osType}
            </if>
            <if test="channels != null and !channels.isEmpty()">
                AND v.channel IN
                <foreach collection="channels" item="channel" open="(" separator="," close=")">
                    #{channel}
                </foreach>
            </if>
        </where>
        ORDER BY v.gmt_modified DESC
    </select>

    <update id="deleteVersionsByAppId">
        UPDATE app_version
        SET is_deleted = 'Y',
            gmt_modified = NOW()
        WHERE app_id = #{appId} AND is_deleted = 'N'
    </update>

    <insert id="saveBatchAppVersion">
        INSERT INTO app_version (app_id, version_code, version_name, download_url,
        file_path, channel, device_filter, show_cash_loan,
        force_update_type, update_desc, is_deleted,
        gmt_created, gmt_modified)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.appId}, #{item.versionCode}, #{item.versionName}, #{item.downloadUrl},
            #{item.filePath}, #{item.channel}, #{item.deviceFilter}, #{item.showCashLoan},
            #{item.forceUpdateType}, #{item.updateDesc}, 'N',
            NOW(), NOW())
        </foreach>
    </insert>

    <select id="getVersionByAppIdAndChannel" resultType="com.palwy.common.entity.AppVersionDO">
        SELECT <include refid="Base_Column_List"/>
        FROM app_version
        WHERE version_code = #{versionCode}
          AND is_deleted = 'N'
            LIMIT 1
    </select>
</mapper>
